.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tu diseño */
}

ion-card {
  max-width: 400px; /* Ancho máximo del card */
  width: 100%; /* Asegura que el card ocupe todo el ancho del contenedor */
}
